# Data Aggregation

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'k1': ['a','b','a','a','b'], 
                   'k2': 'one two one two one'.split(),
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [3]:
df

  k1   k2     data1     data2
0  a  one  1.440058 -0.179283
1  b  two -0.632240 -0.189224
2  a  one -0.218526 -0.843859
3  a  two -0.353628  0.811173
4  b  one  1.678073 -1.460794

In [4]:
grouped = df.groupby('k1')

In [5]:
grouped['data1'].quantile(0.9)

k1
a    1.108341
b    1.447042
Name: data1, dtype: float64

In [6]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [7]:
grouped.agg(peak_to_peak)

C:\Users\Andra\AppData\Local\Temp\ipykernel_18384\4193407341.py:1: FutureWarning: ['k2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped.agg(peak_to_peak)

       data1     data2
k1
a   1.793685  1.655032
b   2.310313  1.271570

In [9]:
grouped.describe()

   data1                                                              \
   count      mean       std       min       25%       50%       75%
k1
a    3.0  0.289302  0.998871 -0.353628 -0.286077 -0.218526  0.610766
b    2.0  0.522917  1.633638 -0.632240 -0.054661  0.522917  1.100495

             data2                                                    \
         max count      mean       std       min       25%       50%
k1
a   1.440058   3.0 -0.070656  0.832846 -0.843859 -0.511571 -0.179283
b   1.678073   2.0 -0.825009  0.899136 -1.460794 -1.142902 -0.825009


         75%       max
k1
a   0.315945  0.811173
b  -0.507116 -0.189224