# Data Aggregation

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'k1': ['a','b','a','a','b'], 
                   'k2': 'one two one two one'.split(),
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [3]:
df

  k1   k2     data1     data2
0  a  one  2.419331 -1.606180
1  b  two -1.463025  1.161745
2  a  one -0.386061 -0.062713
3  a  two -0.751445  0.354008
4  b  one  0.398352  0.866839

In [4]:
grouped = df.groupby('k1')

In [5]:
grouped['data1'].quantile(0.9)

k1
a    1.858252
b    0.212215
Name: data1, dtype: float64

In [6]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [7]:
grouped.agg(peak_to_peak)

C:\Users\Andra\AppData\Local\Temp\ipykernel_14248\4193407341.py:1: FutureWarning: ['k2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped.agg(peak_to_peak)

       data1     data2
k1
a   3.170776  1.960188
b   1.861378  0.294907

In [8]:
grouped.describe()

   data1                                                              \
   count      mean       std       min       25%       50%       75%
k1
a    3.0  0.427275  1.734817 -0.751445 -0.568753 -0.386061  1.016635
b    2.0 -0.532336  1.316193 -1.463025 -0.997681 -0.532336 -0.066992

             data2                                                    \
         max count      mean       std       min       25%       50%
k1
a   2.419331   3.0 -0.438295  1.032657 -1.606180 -0.834446 -0.062713
b   0.398352   2.0  1.014292  0.208530  0.866839  0.940565  1.014292


         75%       max
k1
a   0.145648  0.354008
b   1.088018  1.161745

# applying functions to columns using agg

In [9]:
tips = pd.read_csv("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/examples/tips.csv")

In [10]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [12]:
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [13]:
grouped = tips.groupby(['day','smoker'])

In [15]:
grouped_pct = grouped['tip_pct']

In [17]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [18]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [23]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [24]:
functions = ['count', 'mean', 'max']

In [26]:
result = grouped[['tip_pct', 'total_bill']].agg(functions)

In [27]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [28]:
result['tip_pct']

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [29]:
result['total_bill']

             count       mean    max
day  smoker
Fri  No          4  18.420000  22.75
     Yes        15  16.813333  40.17
Sat  No         45  19.661778  48.33
     Yes        42  21.276667  50.81
Sun  No         57  20.506667  48.17
     Yes        19  24.120000  45.35
Thur No         45  17.113111  41.19
     Yes        17  19.190588  43.11

In [34]:
ftuples = [('Média', 'mean'), ('Variância', np.var)]

In [35]:
grouped[['tip_pct', 'total_bill']].agg(ftuples)

              tip_pct           total_bill
                Média Variância      Média   Variância
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

In [38]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [39]:
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'], 
             'size' : 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40