# Iterating by group

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'k1': ['a','b','a','a','b'], 
                   'k2': 'one two one two one'.split(),
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [6]:
for name, group in df.groupby('k1'):
    print(name)
    print(group)

a
  k1   k2     data1     data2
0  a  one -0.584513  2.504797
2  a  one  0.991813 -0.121459
3  a  two  0.202230 -3.019967
b
  k1   k2     data1     data2
1  b  two  0.156948  1.669868
4  b  one  1.733898  0.064269

In [8]:
for (k1, k2), group in df.groupby(['k1', 'k2']):
    print((k1, k2))
    print(group)

('a', 'one')
  k1   k2     data1     data2
0  a  one -0.584513  2.504797
2  a  one  0.991813 -0.121459
('a', 'two')
  k1   k2    data1     data2
3  a  two  0.20223 -3.019967
('b', 'one')
  k1   k2     data1     data2
4  b  one  1.733898  0.064269
('b', 'two')
  k1   k2     data1     data2
1  b  two  0.156948  1.669868

In [9]:
pieces = dict(list(df.groupby('k1')))

In [19]:
pieces['b']

  k1   k2     data1     data2
1  b  two  0.156948  1.669868
4  b  one  1.733898  0.064269

In [20]:
df.dtypes

k1        object
k2        object
data1    float64
data2    float64
dtype: object

In [21]:
grouped = df.groupby(df.dtypes, axis=1)

In [22]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0 -0.584513  2.504797
1  0.156948  1.669868
2  0.991813 -0.121459
3  0.202230 -3.019967
4  1.733898  0.064269
object
  k1   k2
0  a  one
1  b  two
2  a  one
3  a  two
4  b  one