In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                     'data2': np.random.randn(1000)})

In [4]:
quartiles = pd.cut(frame.data1, 4)

In [6]:
quartiles[:10]

0     (-0.248, 1.298]
1     (-0.248, 1.298]
2    (-1.793, -0.248]
3    (-1.793, -0.248]
4     (-0.248, 1.298]
5    (-1.793, -0.248]
6    (-1.793, -0.248]
7     (-0.248, 1.298]
8    (-1.793, -0.248]
9     (-0.248, 1.298]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.345, -1.793] < (-1.793, -0.248] < (-0.248, 1.298] < (1.298, 2.843]]

In [7]:
def get_stats(group):
    return {'min' : group.min(), 'max' : group.max(), 
           'count' : group.count(), 'mean' : group.mean()}

In [8]:
grouped = frame.data2.groupby(quartiles)

In [9]:
grouped.apply(get_stats).unstack()

                       min       max  count      mean
data1
(-3.345, -1.793] -1.675624  1.519880   41.0 -0.260874
(-1.793, -0.248] -2.422613  2.475347  378.0 -0.076514
(-0.248, 1.298]  -3.022449  3.316908  480.0  0.017516
(1.298, 2.843]   -2.415876  2.162782  101.0 -0.016489

In [10]:
type(quartiles)

pandas.core.series.Series

In [11]:
grouping = pd.qcut(frame.data1, 10, labels=False)

In [12]:
grouped = frame.data2.groupby(grouping)

In [14]:
grouped.apply(get_stats).unstack()

            min       max  count      mean
data1
0     -2.391698  2.043936  100.0 -0.169512
1     -2.228127  2.345899  100.0 -0.025319
2     -2.400787  1.879984  100.0 -0.132385
3     -2.422613  2.475347  100.0 -0.067563
4     -1.995727  2.317241  100.0  0.126513
5     -3.022449  2.369013  100.0  0.033003
6     -1.762065  3.316908  100.0  0.131810
7     -2.471330  1.797696  100.0 -0.191554
8     -2.121704  2.458516  100.0 -0.022611
9     -2.415876  2.162782  100.0 -0.011143