# type of datas and tools for date and time

In [1]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()

now

datetime.datetime(2024, 1, 5, 20, 34, 46, 991743)

In [3]:
now.year, now.month, now.day

(2024, 1, 5)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [5]:
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

### we can do sum, mult or sub from datetime

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## conversion between string and datetime

In [12]:
stamp = datetime(2011, 1, 3)

In [13]:
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [15]:
value = '2014-01-05'

In [16]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2014, 1, 5, 0, 0)

In [17]:
datestrs = ['7/6/2001', '8/2/2004']

In [18]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2001, 7, 6, 0, 0), datetime.datetime(2004, 8, 2, 0, 0)]

In [19]:
from dateutil.parser import parse

In [20]:
parse('2005-10-03')

datetime.datetime(2005, 10, 3, 0, 0)

In [21]:
parse('Jan 23, 1987 08:31 PM')

datetime.datetime(1987, 1, 23, 20, 31)

In [22]:
parse('04/05/2001', dayfirst=True)

datetime.datetime(2001, 5, 4, 0, 0)

In [23]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [24]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [25]:
idx = pd.to_datetime(datestrs + [None])

In [26]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [27]:
idx[2]

NaT

In [28]:
pd.isnull(idx)

array([False, False,  True])

# Basics about time series

In [29]:
from datetime import datetime
import numpy as np

In [30]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [31]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [32]:
ts = pd.Series(np.random.randn(6), index=dates)

In [33]:
ts

2011-01-02    0.764706
2011-01-05    0.869924
2011-01-07   -0.213968
2011-01-08    1.212538
2011-01-10    0.809455
2011-01-12    0.877138
dtype: float64

In [34]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [35]:
ts + ts[::2]

2011-01-02    1.529411
2011-01-05         NaN
2011-01-07   -0.427936
2011-01-08         NaN
2011-01-10    1.618910
2011-01-12         NaN
dtype: float64

In [36]:
ts.index.dtype

dtype('<M8[ns]')

In [37]:
stamp = ts.index[0]

In [38]:
stamp

Timestamp('2011-01-02 00:00:00')

# Indexing, selection and generation of subsets

In [39]:
stamp = ts.index[2]

In [40]:
ts[stamp]

-0.21396776661957367

In [41]:
ts['1/10/2011']

0.8094549331246028

In [42]:
ts['20110110']

0.8094549331246028

In [43]:
longer_ts = pd.Series(np.random.randn(1000), 
                      index=pd.date_range('1/1/2000', periods=1000))

In [44]:
longer_ts

2000-01-01    1.624949
2000-01-02    1.390151
2000-01-03   -0.657191
2000-01-04   -1.192040
2000-01-05   -0.235977
                ...
2002-09-22    0.216108
2002-09-23    1.199792
2002-09-24    0.242729
2002-09-25   -0.195169
2002-09-26    0.034940
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01    1.646990
2001-01-02   -0.621925
2001-01-03   -1.095101
2001-01-04   -1.442621
2001-01-05   -0.339760
                ...
2001-12-27    0.445098
2001-12-28   -0.249794
2001-12-29    0.123523
2001-12-30    0.811738
2001-12-31   -1.790646
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01   -0.699479
2001-05-02    0.890003
2001-05-03   -0.051296
2001-05-04   -0.425015
2001-05-05   -0.290263
2001-05-06   -0.674169
2001-05-07   -0.409948
2001-05-08   -1.321700
2001-05-09   -0.142856
2001-05-10   -1.432893
2001-05-11   -0.422733
2001-05-12   -2.254745
2001-05-13   -0.349395
2001-05-14   -0.262323
2001-05-15    0.070691
2001-05-16   -0.351364
2001-05-17    1.934434
2001-05-18    1.201637
2001-05-19    0.216122
2001-05-20   -1.207017
2001-05-21    0.719354
2001-05-22   -0.993269
2001-05-23   -0.331386
2001-05-24   -0.488764
2001-05-25    1.458358
2001-05-26   -0.750273
2001-05-27   -0.068861
2001-05-28   -1.345624
2001-05-29   -1.630756
2001-05-30    0.390618
2001-05-31    0.727159
Freq: D, dtype: float64

In [47]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.213968
2011-01-08    1.212538
2011-01-10    0.809455
2011-01-12    0.877138
dtype: float64

In [48]:
ts

2011-01-02    0.764706
2011-01-05    0.869924
2011-01-07   -0.213968
2011-01-08    1.212538
2011-01-10    0.809455
2011-01-12    0.877138
dtype: float64

In [49]:
ts['1/2/2011':'1/8/2011']

2011-01-02    0.764706
2011-01-05    0.869924
2011-01-07   -0.213968
2011-01-08    1.212538
dtype: float64

In [50]:
ts.truncate(after='1/9/2011')

2011-01-02    0.764706
2011-01-05    0.869924
2011-01-07   -0.213968
2011-01-08    1.212538
dtype: float64

## You can use it in Dataframes as well

In [51]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [52]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [53]:
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['SP', 'PE', 'BA', 'RJ'])

In [54]:
long_df

                  SP        PE        BA        RJ
2000-01-05 -0.537571 -0.198413  0.269038 -0.331475
2000-01-12 -0.994522 -0.588188 -0.347297  0.456371
2000-01-19  0.167966  2.357378 -1.690779  1.149726
2000-01-26  1.024417 -1.295671  1.125170 -0.309296
2000-02-02 -1.556668  0.199650 -1.506191 -1.050244
...              ...       ...       ...       ...
2001-10-31  0.430348  0.365276 -1.313841  0.168131
2001-11-07 -0.215877 -0.071297  0.888463 -0.574758
2001-11-14 -0.147974  0.024506 -0.141622  0.369909
2001-11-21 -0.439276 -0.821897 -0.775312 -0.301810
2001-11-28  0.763611  0.916912  0.321853 -0.621021

[100 rows x 4 columns]

In [55]:
long_df.loc['5-2001']

                  SP        PE        BA        RJ
2001-05-02 -0.145783 -0.434341 -0.291992 -0.606774
2001-05-09 -0.218879 -0.197295 -0.426284 -0.447606
2001-05-16  0.926518 -1.095298 -1.192059 -0.744709
2001-05-23  0.167140  0.883815 -1.917249  0.476627
2001-05-30 -0.571177  1.128265  0.430549  2.086140

# Time series with duplicated index

In [56]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [57]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [58]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [59]:
dup_ts.index.is_unique

False

In [60]:
dup_ts['1/3/2000']

4

In [61]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [62]:
grouped = dup_ts.groupby(level=0)

In [63]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [64]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# Date range, frequency and displacements

In [65]:
ts

2011-01-02    0.764706
2011-01-05    0.869924
2011-01-07   -0.213968
2011-01-08    1.212538
2011-01-10    0.809455
2011-01-12    0.877138
dtype: float64

In [66]:
resampler = ts.resample('D')

In [67]:
resampler.mean()

2011-01-02    0.764706
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.869924
2011-01-06         NaN
2011-01-07   -0.213968
2011-01-08    1.212538
2011-01-09         NaN
2011-01-10    0.809455
2011-01-11         NaN
2011-01-12    0.877138
Freq: D, dtype: float64

# Generating date ranges

In [68]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [69]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(start='2024-01-01', periods=20)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range(end='2024-01-01', periods=20)

DatetimeIndex(['2023-12-13', '2023-12-14', '2023-12-15', '2023-12-16',
               '2023-12-17', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-23', '2023-12-24',
               '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28',
               '2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range('2024-01-01', '2024-12-01', freq='BM')

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29'],
              dtype='datetime64[ns]', freq='BM')

In [73]:
pd.date_range('2024-01-01', '2024-02-01', freq='B')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-22',
               '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01'],
              dtype='datetime64[ns]', freq='B')

In [75]:
pd.date_range('2024-01-01 12:56:31', periods=5)

DatetimeIndex(['2024-01-01 12:56:31', '2024-01-02 12:56:31',
               '2024-01-03 12:56:31', '2024-01-04 12:56:31',
               '2024-01-05 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range('2024-01-01 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='D')