# Categorical 12.1

In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ["apple", "orange", "apple", "apple"] * 2

In [3]:
N = len(fruits)

In [4]:
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                   columns= ['basket_id', 'fruit', 'count', 'weight'])

In [5]:
df

   basket_id   fruit  count    weight
0          0   apple      9  2.706351
1          1  orange      9  2.136690
2          2   apple     12  1.796429
3          3   apple      4  3.848775
4          4   apple     10  0.634272
5          5  orange     12  2.945126
6          6   apple     11  3.626264
7          7   apple     14  2.186311

In [6]:
fruit_cat = df['fruit'].astype('category')

In [8]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [9]:
c = fruit_cat.values

type(c)

pandas.core.arrays.categorical.Categorical

In [10]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [11]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [12]:
df['fruit'] = df['fruit'].astype('category')

In [18]:
df.dtypes

basket_id       int32
fruit        category
count           int32
weight        float64
dtype: object

### Trying another way to create Categorical

In [19]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [20]:
categories = ['foo', 'bar', 'baz']

codes = [0, 1, 2, 0, 0, 1]

In [21]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)

In [22]:
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [25]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)

In [26]:
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [29]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

## Categoricals processing